.App{
    height: 100%;
}
.btn-size {
  width: 120px;
}

.list-container {
    margin: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
}

.bold-text{
    font-weight: bold;
}

.item{
    background-color:rgb(255 241 144);
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12px;
    padding: 16px;
    border: 1px solid;
}

.item img{
    width: 100%;
    margin-bottom: 8px;
}

.brand-logo{
    height:35px;
    margin-right: 10px;
}

.book-btn{
    background-color: crimson;
    font-size: 14;
    margin: 4px;
}